.body{
  font-family: 'Lato', sans-serif;
}

.table{
border:20px solid #9afcb9;
}
.App {
  text-align: center;
}


.text{
 margin:20px;
 text-align: center;
} 


.container {
  border: 1px solid;
  background-color:teal;
  color:white;
  text-color:white;
  border-radius:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  }
  
  .seat_status{
  color:white;
  background-color:black;
  margin:20px;
  padding:20px;
  border:5px solid black;
  border-radius:20px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  }
    
  .button_css{
    margin: 10px;
    height: 30px;
    width: 60px;
    color: black;
    background-color:#5beb34;
    align-item: center;
    border: none;
}

.button_danger{
  margin: 10px;
  height: 30px;
  width: 60px;
  color: black;
  background-color:#eb5e34;
  align-item: center;
  border: none;
}


.button-login{
  background-color: #000;
  height: 40px;
  width: 256px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  margin: 8px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  
  
}

.button-login:hover{
  
    color:black;
    background-color:#fff;
    font-weight: bold;
  

}