.body{
  font-family: 'Yaldevi', sans-serif;
}

.App {
  text-align: center;
}

.container {
  background-color: teal;
  color: white;
  margin: 10px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 50px;
  text-align: center;
}

.buttonLeft {
  margin: 10px;
  text-align: left;
  margin-left: 20%;
}

.buttonRight {
  margin: 10px;
  text-align: right;
  margin-left: 60%;
}

.seat_status{
 margin:10px;
 background-color:#111 ;
 border: 5px solid white;
 border-radius: 5px;
 margin-left:20%;
 margin-right:20%;
}

.text{
 margin:20px;
 text-align: center;
}